<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		
		<link rel="stylesheet" href="css/normalize.css" type="text/css">
		<link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet'>
		<link rel="stylesheet" href="css/style.css" type="text/css">

		<title>torplay</title>
	</head>
	<body>
		<main id="app" class="hidden" :class="'show'">
			<section class="initializing" v-if="!server.isServerRunning">
				<div class="pad center">Intiallizing Media Delivery Server...</div>
			</section>

			<div v-else class="flex col" style="padding:1rem;">
				<div class="item-flex" style="position:relative;">
					<playlist :playlist="playlist"></playlist>
				</div>

				<section class="device-control" v-if="currentMedia">
					<div class="flex">
						<div>
							<h1>Device Control</h1>
						</div>

						<div class="pad">
							<select v-model="currentDeviceName" @change="selectDevice($event.target.value)">
								<option v-for="name in deviceNames" :value="name">{{getFriendlyName(name)}}</option>
							</select>
						</div>

						<div>
							<button class="a" @click="refreshDevices()">
								<i class="material-icons grey">cached</i>
							</button>
						</div>
					</div>
					
					<div v-if="currentDevice" class="flex">
						<div v-if="currentMedia.poster" class="media-poster" :style="'background:url('+getDeliveryPath(currentMedia.poster)+') 100% / cover no-repeat;'"></div>

						<div class="item-flex">
							<div class="ellipsis-overflow bold pad-b">{{currentMedia ? currentMedia.filename : "no media selected"}}</div>
							
							<div v-if="!currentDevice.client">
								<button @click="playMedia(currentMedia)">launch media receiver</button>
							</div>
			
							<div v-else-if="isShowDeviceControls">
								<div>
									<input :disabled="isControlsDisabled" type="range" min="0" :max="currentMedia.duration" step="1" v-model="currentMedia.currentTime" @change="currentDevice.seekTo($event.target.value)">
								</div>

								<div class="flex">
									<div v-if="currentDeviceStatus=='PAUSED'">
										<button :disabled="isControlsDisabled" class="a" @click="currentDevice.resume()">
											<i class="material-icons large">play_circle</i>
										</button>
									</div>

									<div v-else>
										<button :disabled="isControlsDisabled" class="a" @click="currentDevice.pause()">
											<i class="material-icons large">pause_circle</i>
										</button>
									</div>

									<div>
										<button class="a" @click="closeDeviceConnection(currentDevice)">
											<i class="material-icons large">cancel</i>
										</button>
									</div>

									<div class="pad-l ellipsis-overflow item-flex">
										{{seconds2timecode(currentMedia.currentTime)}} / {{seconds2timecode(currentMedia.duration)}}
									</div>

									<!---label class="pad">
										playback rate:
										<select @change="currentDevice.setPlaybackRate($event.target.value)">
											<option selected>1</option>
											<option>1.5</option>
											<option>2</option>
											<option>5</option>
											<option>10</option>
										</select>
									</label--->

									<label class="pad-l item-flex nowrap flex" style="max-width:100px;" v-if="currentMedia.subtitles.length">
										<div>cc:</div>
										<div class="item-flex">
											<select style="width:100%;" :disabled="isControlsDisabled" v-model="currentCcIndex">
												<option value="-1">off</option>
												<option v-for="cc,ccIndex in currentMedia.subtitles" :value="ccIndex">{{cc.filename}}</option>
											</select>
										</div>
									</label>
								</div>
							</div>
						</div>
					</div>

					<div v-else>
						<video ref="vidEl" :src="getDeliveryPath(currentMedia)" controls style="width:100%;" autoplay>
							<track v-for="subtitle in currentMedia.subtitles" :src="getDeliveryPath(subtitle)" :label="subtitle">
						</video>

						<div>
							<label v-if="currentMedia.subtitles.length">
								cc:
								<select @change="activateSubtitle($event.target.value)">
									<option value="-1">off</option>
									<option v-for="cc,ccIndex in currentMedia.subtitles" :value="ccIndex">{{cc.filename}}</option>
								</select>
							</label>
						</div>
					</div>
				</section>
			</div>

			<section class="overlay is-overlay" v-if="overlayComponent" @click.self="overlayComponent=false">
				<component :is="overlayComponent" class="overlay-component"></component>

				<button class="a overlay-close" @click="overlayComponent=false">
					<i class="material-icons small grey">close</i>
				</button>
			</section>
		</main>

		<!--- components --->
		<script type="text/x-template" id="playlist_template">
			<section class="playlist flex col">
				<h1>Playlists</h1>

				<div class="flex item-flex" style="align-items:unset;height:100%;">
					<div class="rel" style="width:25%;min-width:100px;">
						<div class="flex col">
							<ul class="playlists is-blocks" ref="playlistsUl" style="height:100%;">
								<li v-for="playlist,pIndex in playlists.list">
									<button class="is-block" :class="{active:playlists.selectedPlaylist==pIndex}" @click="playlists.selectPlaylist(pIndex)">
										<div class="flex">
											<div class="ellipsis-overflow">
												{{playlist.name}}
											</div>
										</div>
									</button>
								</li>
							</ul>

							<div class="pad-t right">
								<button>+</button>
							</div>
						</div>
					</div>

					<div class="pad-l"></div>

					<div class="item-flex rel">
						<div class="flex col">
							<ul class="playlist is-blocks item-flex" ref="playlistUl">
								<li v-if="!playlist.length">
									<div class="pad center">
										No media
									</div>
								</li>
			
								<li v-for="media,mIndex in playlist">
									<button class="is-block" :class="{active:$root.currentPlaylistIndex==mIndex}" @click="$root.selectMedia(mIndex)">
										<div class="flex">
											<div class="item-flex ellipsis-overflow v-center">
												<span>{{media.filename}}</span>
			
												<i class="material-icons light-grey small" v-if="media.subtitles.length">closed_caption</i>
											</div>
			
											<div class="pad-l">
												<a class="list-btn" @click.stop="$root.editMedia(mIndex)">
													<i class="material-icons small">edit</i>
												</a>
											</div>
			
											<div style="margin:-0.5em 0;" class="pad-l">
												<a class="list-btn red" @click.stop="$root.removeMediaFromPlaylist(mIndex)">
													<i class="material-icons small">cancel</i>
												</a>
											</div>
										</div>
									</button>
								</li>
							</ul>
							
							<div class="pad-t right">
								<button @click="$root.overlayComponent='addTorrentMedia'">Add from torrent</button>
							</div>
						</div>
					</div>
				</div>


			</section>
		</script>
				
		<script type="text/x-template" id="addTorrentMedia_template">
			<div class="add-torrent-media">
				<h1>Torrent / Magnet</h1>

				<div class="flex">
					<div class="item-flex has-dropdown">
						<input :disabled="busy" type="text" v-model="torrentUrl" @focus="isShowHistory=true;console.log('test')" @blur="isShowHistory=false">

						<ul class="torrentUrl-history is-dropdown is-blocks" v-if="isShowHistory">
							<li v-for="url in torrentUrlHistory">
								<button class="is-block ellipsis-overflow" v-if="url" @mousedown="torrentUrl=url;getTorrentFileList(url)">
									{{url}}
								</button>
							</li>
						</ul>
					</div>

					<div>
						<button :disabled="busy" @click="getTorrentFileList(torrentUrl)">Load Torrent Files</button>
					</div>
				</div>

				<div class="pad-t">
					<ul class="torrent-files is-blocks">
						<li v-if="!torrentFiles.length">
							<div class="pad center">
								{{busy ? 'Loading files' : 'No torrent files loaded'}}
							</div>
						</li>
	
						<li v-for="file in _torrentFiles" v-else>
							<button class="is-block" @click="selectTorrentFile(file.name)" :class="{active:selectedTorrentFiles.indexOf(file.name)>-1}">
								<div class="flex">
									<div class="item-flex">
										{{file.name}}
									</div>
								</div>
							</button>
						</li>
					</ul>

					<div class="pad-t right">
						<button :disabled="!torrentFiles.length" @click="addAllTorrentFiles()">Add All</button>
						<button :disabled="!torrentFiles.length||!selectedTorrentFiles.length" @click="addSelectedTorrentFiles()">Add Selected</button>
						<button @click="$root.overlayComponent=false">Cancel</button>
					</div>
				</div>
			</div>
		</script>

		<script type="text/x-template" id="editMedia_template">
			<div class="edit-media">
				<div class="flex">
					<div v-if="media.poster" class="media-poster" :style="'background:url('+$root.getDeliveryPath(media.poster)+') 100% / cover no-repeat;'"></div>

					<div class="item-flex">
						<h1 style="margin-top:0;margin-bottom:0.25rem;">{{media.filename}}</h1>
		
						<div>{{$root.seconds2timecode(media.currentTime)}} / {{$root.seconds2timecode(media.duration)}}</div>
					</div>
				</div>

				<h2>Subtitles</h2>

				<ul class="is-blocks" ref="subtitlesUl">
					<li v-if="!media.subtitles.length">
						<div class="pad center">
							No subtitles found
						</div>
					</li>

					<li v-for="subtitles,sIndex in media.subtitles">
						<button class="is-block">
							<div class="flex">
								<div class="item-flex">
									{{subtitles.filename}}
								</div>

								<div class="pad-l">
									<a @click="removeSubtitles(sIndex)">
										<i class="material-icons small red">close</i>
									</a>
								</div>
							</div>
						</button>
					</li>
				</ul>

				<div class="pad-t flex">
					<div class="item-flex">
						<input type="text" v-model="newSubtitlesUrl">
					</div>

					<div>
						<button @click="addSubtitles(newSubtitlesUrl)">Add Subtitles</button>
					</div>
				</div>
			</div>
		</script>
	</body>
</html>
