<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		
		<link rel="stylesheet" href="css/normalize.css" type="text/css">
		<link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet'>
		<link rel="stylesheet" href="css/style.css" type="text/css">

		<title>torplay</title>
	</head>
	<body>
		<main id="app" class="hidden" :class="'show'">
			<section class="init is-overlay" v-if="!server.isServerRunning">
				<div class="pad center">Intiallizing Media Delivery Server...</div>
			</section>

			<div v-else>
				<section class="playlist">
					<h1>Playlist</h1>

					<ul class="playlist is-blocks">
						<li v-if="!playlist.length">
							<div class="pad center">
								No media
							</div>
						</li>

						<li v-for="media,mIndex in playlist" v-else>
							<button class="is-block" :class="{active:currentPlaylistIndex==mIndex}" @click="selectMedia(mIndex)">
								<div class="flex">
									<div class="item-flex playlist-filename">
										{{media.filename}}
									</div>

									<div style="margin:-0.5em 0;">
										<i class="material-icons light-grey" v-if="media.subtitles.length">closed_caption</i>
										
										<a class="list-btn red" @click.stop="removeMediaFromPlaylist(mIndex)">
											<i class="material-icons">cancel</i>
										</a>
									</div>
								</div>
							</button>
						</li>
					</ul>

					<div class="pad-t right">
						<button @click="isAddFromTorrent=true">Add from torrent</button>
					</div>
				</section>

				<section class="device-control" v-if="currentMedia" :key="currentMedia.filename">
					<div class="flex">
						<div>
							<h1>Device Control</h1>
						</div>

						<div class="pad">
							<select v-model="currentDeviceName" @change="selectDevice($event.target.value)">
								<option v-for="name in deviceNames" :value="name">{{getFriendlyName(name)}}</option>
							</select>
						</div>

						<div>
							({{currentMedia ? currentMedia.filename : "no media selected"}})
						</div>
					</div>

					<div>{{currentDeviceStatus}}</div>

					<div v-if="isServerRunning&&currentDeviceName">
						<div v-if="!currentDevice||!currentDevice.client||!isServerRunning">
							<button @click="startMediaDelivery(currentMedia,true)">begin playback</button>
							<button @click="currentDevice._tryJoin(function(e,s){})">join session</button>
						</div>
		
						<div v-else-if="currentDevice.client">
							<div class="flex">
								<div class="item-flex">
									<input type="range" min="0" :max="currentMedia.duration" step="1" v-model="currentMedia.currentTime" @change="currentDevice.seekTo($event.target.value)">
								</div>
								
								<div style="width:150px;">
									{{Math.round(currentMedia.currentTime)}} / {{Math.round(currentMedia.duration)}}
								</div>
							</div>

							<button @click="currentDevice.resume()">resume</button>
							<button @click="currentDevice.pause()">pause</button>
							<button @click="currentDeviceName="">stop</button>
		
							<label>
								playback rate:
								<select @change="currentDevice.setPlaybackRate($event.target.value)">
									<option selected>1</option>
									<option>1.5</option>
									<option>2</option>
									<option>5</option>
									<option>10</option>
								</select>
							</label>
							
							<label v-if="currentMedia.subtitles.length">
								cc:
								<select v-model="currentCcIndex">
									<option value="-1">off</option>
									<option v-for="cc,ccIndex in currentMedia.subtitles" :value="ccIndex">{{cc}}</option>
								</select>
							</label>
						</div>
					</div>

					<div v-else>
						<video ref="vidEl" :src="getMediaDeliveryPath(currentMedia.filename,currentMedia.torrentUrl)" controls style="width:100%;" autoplay>
							<track v-for="subtitle in currentMedia.subtitles" :src="getMediaDeliveryPath(subtitle,currentMedia.torrentUrl)" :label="subtitle">
						</video>

						<div>
							<label v-if="currentMedia.subtitles.length">
								cc:
								<select @change="activateSubtitle($event.target.value)">
									<option value="-1">off</option>
									<option v-for="cc,ccIndex in currentMedia.subtitles" :value="ccIndex">{{cc}}</option>
								</select>
							</label>
						</div>
					</div>
				</section>

				<!---overlay sections-->
				<section class="add-torrent-media is-overlay" v-if="isAddFromTorrent">
					<h1>Torrent:</h1>

					<div class="flex">
						<div class="item-flex">
							<input type="text" v-model="torrentUrl">
						</div>

						<div>
							<button @click="getTorrentFileList(torrentUrl)">Read Torrent</button>
						</div>
					</div>

					<div class="pad-t">
						<ul class="torrent-files is-blocks">
							<li v-if="!torrentFiles.length">
								<div class="pad center">
									No torrent files loaded
								</div>
							</li>
		
							<li v-for="file in _torrentFiles" v-else>
								<button class="is-block" @click="selectTorrentFile(file.name)" :class="{active:selectedTorrentFiles.indexOf(file.name)>-1}">
									<div class="flex">
										<div class="item-flex">
											{{file.name}}
										</div>
									</div>
								</button>
							</li>
						</ul>

						<div class="pad-t right">
							<button :disabled="!torrentFiles.length" @click="addAllTorrentFiles()">Add All</button>
							<button :disabled="!torrentFiles.length||!selectedTorrentFiles.length" @click="addSelectedTorrentFiles()">Add Selected</button>
							<button @click="isAddFromTorrent=false">Cancel</button>
						</div>
					</div>
				</section>
			</div>
		</main>
	</body>
</html>
